Django>=4.2
djangorestframework>=3.14
djangorestframework-simplejwt
django-filter
drf-spectacular
celery>=5.3
redis
django-celery-beat
psycopg2-binary
gunicorn
pillow
python-dotenv
stripe
python-telegram-bot
eventlet
